
.rtls-main-container{
    border: 1px solid #000;
    width: 75%;
    height: 590px;
    border-radius: 0px;
    align-content: center;
}
.rtls-header{
    width: 100%;
    height: 35px;
    background-color: #333;
    border-bottom: 1px solid #ccc;
}
.rtls-menu-option {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border-right: 1px solid #ccc;
}
.rtls-menu-option:hover {
    color:  #000;
    cursor: pointer;
    background-color: #fff;
}
.rtls-menu-option-sel {
    color:  #000;
    background-color: #fff;
}
.rtls-content{
    height: 87%;
}
.rtls-sub-content{
    height: 100%;
    padding:10px 0 0 20px;
}

.hide-page{
    display: none;
}

.show-page{
    display: block;
}
.bold {
    font-weight: bold;
}

.bullet{
    background: transparent url(../bullet.png) no-repeat scroll 0 12px;
}
.heading1{
    color: #000;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
}
.heading2{
    color: #000;
    font-weight: bold
}
.passage{
    margin-top:5px;
}
.passage1{
    margin-top:30px;
}
.txt-box{
    width:100px;
    height:27px;
}
.big-txt-box{
    width:250px;
    height:27px;
}
#input-table{
    padding: 20px;
}

#reg-table{
    padding: 20px;
}
.rtls-button{
    width: 100px;
    height: 33px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
}
#rtls-button-div{
    height: 34px;  margin-left: 20px;
}
.padding10{
    padding-top: 10px;
}
.graph-desc{
    color: blue;font-weight: bold;
}
.graph-left-content, .graph-right-content{
    float: left;
    width: 50%;
    height: 190px;
}
.chart{
    width : 100%;
    height : 100%;
}

#graph1,#graph3{
    border-bottom: 1px solid #ccc;
    height: 210px;
}
#graph5{
    border-bottom: 1px solid #ccc;
    height: 190px;
}
.amcharts-pie-slice {
    transform: scale(1);
    transform-origin: 50% 50%;
    transition-duration: 0.3s;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    cursor: pointer;
    box-shadow: 0 0 30px 0 #000;
}

.amcharts-pie-slice:hover {
    transform: scale(1.1);
    filter: url(#shadow);
}
.table-header{
    background-color: #ccc;
    font-weight: bold;
}
.rtls-contact{
    color: blue;
    font-weight: bold;
    margin-top: 10px;
}